body{margin:0px;
}
.header{ 
    width: 100%;
height: 100px;
background: #365988;
}
.first-box{
    margin: auto;
height: 0px;
width: 400px;

}
.fb{ display: inline-block;
    width: 100px;
height: 100px;}
.login-box{
    display: inline-block;
    margin: left300px;
    width: 400px;
    padding: 30px;
    vertical-align: 30px;
height: 100px;
background: blue;}
.login-input{
    display: inline-block;
    background: white;
    width: 150px;
    
vertical-align: 0px;}
